<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/logo.png">
    

    <title>OUR WORKS</title>

    <link href="./static/design.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>

    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="/" title=""> HOME</a></li>
                        <li><a href="./works.html" title="">WORKS</a></li>
                        <li><a href="./about.html" title="">ABOUT</a></li>
                        <li><a href="./contact.html" title="">CONTACT</a></li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>

    <div class="section-container">
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                    <div class="text-center">
                        <h1 class="h2">  Works</h1>
                        </div>
                </div>

                <div class="col-md-12">

                    <div id="myCarousel" class="carousel slide projects-carousel">

                        <!-- Carousel items -->

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <a href="https://youtube.com/codebreakerstech" target="_blank" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/work01.jpg" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>01/06</h4>
                                            <h4>Friend series</h4>
                                            <p>This is for u ladaku madam 😂😂
                                                @ls.su04</p>
                                           <a href="https://www.facebook.com/anjaansketches/photos/4064260116935908" target="_blank" title="" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <a href="https://youtube.com/codebreakerstech" target="_blank" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/work02.jpg" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>02/06</h4>
                                            <h4>Schoolmates series</h4>
                                            <p>don't judge a book by its cover 🙈

                                            </p>
                                            <a href="https://www.facebook.com/anjaansketches/photos/4091474380881148" target="_blank" title="" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <a href="https://youtube.com/codebreakerstech" target="_blank" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/work03.jpg" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>03/06</h4>
                                            <h4>Schoolmates series</h4>
                                            <p> Its good to be bad.
                                                Tumhe Yaad rakhegi ye duniya 🤟.
                                                 </p>
                                           <a href="https://www.facebook.com/anjaansketches/photos/4099116290116957" target="_blank" title="" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>

                                </div>
                                <!--/row-->
                            </div>


                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="https://youtube.com/codebreakerstech" target="_blank" class="black-image-project-hover">
                                            <img src="./static/assets/images/work04.jpg" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>04/06</h4>
                                            <h4>Schoolmates series</h4>
                                            <p>बड़े हरामी हो बेटा 😉😉
                                                Schoolmates series 😇
                                                #002</p>
                                            <a href="https://youtube.com/codebreakerstech" target="_blank" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="https://youtube.com/codebreakerstech" target="_blank" class="black-image-project-hover">
                                            <img src="./static/assets/images/work05.jpg" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>05/06</h4>
                                            <h4>Schoolmates series</h4>
                                            <p>In frame : my friend Aditya sinha</p>
                                            <a href="https://www.facebook.com/anjaansketches/photos/4045325655496021" target="_blank" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <a href="https://youtube.com/codebreakerstech" target="_blank" class="black-image-project-hover">
                                            <img src="./static/assets/images/work06.jpg" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>06/06</h4>
                                            <h4>Schoolmates series</h4>
                                            <p> Profit Dikhta hai, toh har koi jhukta hai.
                                               
                                                 </p>
                                            <a href="https://www.facebook.com/anjaansketches/photos/4108299739198612" target="_blank" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>

                                </div>
                                <!--/row-->
                            </div>

                            <!--/item-->
                        </div>
                        <!--/carousel-inner-->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>



                    <!--/myCarousel-->
                </div>



            </div>
        </div>
    </div>


    <!-- some more works -->
 







    <!-- more work ends -->

    <footer class="footer-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>© ANJAAN- SKETCHES | Website created by <a href="anjank663@gmail.com" target="_blank" >ANJAAN SKETCHES</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            navActivePage();
        });
    </script>


    <script type="text/javascript" src="./static/main.js"></script>
</body>

</html>